/* Fonts
==================== */

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Regular.eot');
    src: url('/static/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Regular.woff') format('woff'),
         url('/static/fonts/OpenSans-Regular.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Regular.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Bold.eot');
    src: url('/static/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Bold.woff') format('woff'),
         url('/static/fonts/OpenSans-Bold.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-BoldItalic.eot');
    src: url('/static/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-BoldItalic.woff') format('woff'),
         url('/static/fonts/OpenSans-BoldItalic.ttf') format('truetype'),
         url('/static/fonts/OpenSans-BoldItalic.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Italic.eot');
    src: url('/static/fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Italic.woff') format('woff'),
         url('/static/fonts/OpenSans-Italic.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


/* Generic
==================== */

body {
    font-size:14px;
    line-height: 1.3;
    font-family:'Open Sans';
    padding-top: 110px;
}

.alert-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: black;
    background-color: orange;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 980px;
}

.navbar {
    background-color: #231f20;
    margin-bottom: 0px;
}

.navbar-default {
    min-height: 110px;
}

.navbar-collapse {
    position: relative;
    top: 25px;
    clear: right;
}

.navbar-brand {
    padding: 10px;
}

.navbar-nav > li > a {
    padding: 2px;
    text-transform: uppercase;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-default .navbar-nav > li > a.highlight {
    color: #FAE500;
}

.navbar-default .navbar-nav > li > a.highlight::after {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #FFDA36;
}

.navbar-default .navbar-nav > li > a:hover::after,
.navbar-default .navbar-nav > li > a:focus::after {
    color: white;
}

.navbar-nav > li > a::after {
    content: " |";
    text-align: justify;
}

.navbar-nav > li:last-child > a::after {
    content: "";
}

.nav-bottom {
    clear: right;
}

.navbar-social {
    float: right;
    color: #CFD1D2;
    margin-top: 5px;
    margin-right: -20px;
}

.navbar-social > span {
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
}

.navbar-social > a {
    padding: 0 0 0 10px;
}

.carousel img {
  width: 100%;
  height: 500px;
}

.carousel {
    background-color: black;
}

.post-carousel {
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: #282425;
}

.post-carousel > div {
    color: white;
    padding: 20px 0;l
}

.yellow {
    color: #FAE500;
}

.yellow-dark {
    color: #F1B51D;
}

.look {
    background-image: url('/static/img/look-bg.jpg');
    height: 400px;
    padding: 30px;
}

.look > img {
    margin-right: 90px;
}

.strip {
    padding: 14px;
    text-transform: uppercase;
    background-color: #FAE500;
    font-family: 'Roboto';
}

.yellowish {
    background-color: #F1B51D;
}

.black {
    background-color: black;
    color: white;
}

.route {
    background-color: #E4E5E7;
    padding: 20px;
    text-align: center;
}

.route-container {
    max-width: 970px;
    margin: auto;
}

.route-container > img {
    margin-bottom: 40px;
}

.route-container > .strip {
    background-color: #FAE500;
    font-family: 'Roboto';
    padding: 8px;
    padding-top: 11px;
    font-size: 1.5em;
}

.route-info {
    padding: 10px 0;
    margin: auto;
}

.route-info > .col-md-4:first-child {
    padding-left: 0px;
}

.route-info p {
    text-align: left;
    margin-top: 20px;
    font-size: 1.1em;
}

.route-info-first-text {
    margin-left: -20px;
}

.route-info > div > h2 {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 2.8em;
    line-height: 0.9em;
    text-align: left;
}

.video-guide {
    margin:auto;
    padding: 20px;
}

.video-social {
    text-align: left;
    float: left;
}

.video-social > img {
    margin-top: 4px !important;
}

.video-icons {
    float: right;
    margin-top: -4px;
}

.entertheproject {
    background-image: url('/static/img/enter-bg.jpg');
}

.route-title {
    background-image: url('/static/img/route-bg.png');
    background-repeat: repeat-x;
    background-color: transparent;
    margin-top: -10px;
    margin-bottom: -10px;
}

.route-title div {
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Roboto';
    margin-top: -2px;
}

.project-title {
    background-image: url('/static/img/project-bg.png');
    background-repeat: repeat-x;
    background-color: transparent;
    margin-top: -10px;
    margin-bottom: -10px;
}

.project-title div {
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Roboto';
}


/* The Project
==================== */

.project-video {
    margin: 20px 0 10px 0;
    text-align: center;
}

.project-video-strip {
    text-transform: uppercase;
    text-align: right;
    margin: auto;
    padding-right: 10px;
    margin-bottom: 5px;
    background-color: #FAE500;
}

.project-route-title {
    font-size: 2em;
    vertical-align: middle;
    font-family: 'Roboto';
}

.graffiti-video-strip {
    background-color: #EE302B;
    color: white;
}

.upload-media,
.video-back {
    width: 206px;
    margin: auto;
    margin-top: 10px;
}

.video-back {
    margin-bottom: 20px;
}

.gallery {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.gallery-details {
    padding-right: 0px;
}

.gallery-strip {
        background-image: url('/static/img/project-bg.png');
        background-repeat: repeat-x;
        background-color: transparent;
        min-height: 100px;
}

.gallery-strip div {
    font-size: 3.2em;
    text-transform: uppercase;
    font-family: 'Roboto';
    margin-top: 7px;
}

.gallery-top-icons {
    padding-left: 10px;
    margin-bottom: 10px;
}

.gallery-top-icons img {
    padding-right: 30px;
}

.gallery-item {
    padding: 0 20px 0 5px;
    height: 208px;
    overflow: hidden;
}

.gallery-item > a {
    display: block;
    height: 140px;
    overflow: hidden;
}

.graffiti-item {
    height: 170px;
}

.gallery-thumb {
    display: block;
    max-width: 100%;
}

.gallery-cat {
    margin-top: 0px;
}

.gallery-title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    margin: 10px 0 8px 0;
    font-family: 'Roboto';
    line-height: 0.9em;
}

.gallery-year {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 20px;
    font-weight: bold;
}

.gallery-location,
.gallery-creator,
.gallery-comment {
    margin: 10px 0;
}

.gallery-credit {
    color: #EC2E2A;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.gallery-comment {
}

.gallery-datelinks {
    padding-left: 15px;
    border-left: 1px solid lightgray;
}

.graffiti-credit {
    margin-top: -20px;
    color: white;
    opacity: 0.9;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 10px;
    font-style: italic;
}

.details-info-container {
    padding-left: 40px;
    padding-right: 0px;
}

.details-title {
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 0.9em;
}

.details {
    margin-bottom: 8px;
}

.details-created {
    font-size: 1.2em;
    font-weight: bold;
}

.social-share > img {
    padding-right: 10px;
    margin-top: 20px;
}

#details {
    margin: 40px 0 0 0;
}

#details > .col-md-8 {
    padding: 0px;
}

#video-back,
#gallery,
#gallery-strip {
    display: none;
}

#video-back {
    text-align: center;
}

#years {
    margin-left: -10px;
}

/* Flatpages
==================== */

.flatpage {
    padding: 10px 15px 10px 0px;
    font-size: 1.2em;
}

.flatpage .col-md-4 {
    padding-left: 0;
    margin-top: 900px;
}

.flatpage a {
    color: #F1B51D;
    font-weight: bold;
}

.flatpage p {
    padding: 10px 15px;
}

.flatpage-strip {
    text-transform: uppercase;
    text-align: right;
    margin: auto;
    padding-right: 10px;
    margin-top: 20px;
    background-color: #FAE500;
    max-width: 950px;
}

.flatpage-title {
    font-size: 1.7em;
    vertical-align: middle;
    font-family: 'Roboto';
}

.flatpage-heading{
    font-size: 1.5em;
}

.credits-gray {
    background-color: #E4E5E7;
    padding: 20px 0;
}

.credits-gray > .container {
    padding: 15px;
}

.credits-gray > .row {
    margin: auto;
}

.credits-gray div {
    padding: 0;
}

.credits-gray p {
    padding: 10px 0;
    font-size: 1.2em;
}

/* Footer
==================== */

footer {
    background-color: #231f20;
    color: white;
    height: 210px;
    padding: 30px 0px;
    width: 100%;
    font-size: 0.9em;
    border-top: 15px #FAE500 solid;
}

footer > .container {
    width: 1035px;
    margin: 0px auto;
}

.footer-logo {
    margin-bottom: 10px;
    max-width: 200px;
}

.footer-email {
    font-weight: bold;
    font-size: 1.3em;
}

.footer-title {
    font-size: 1.4em;
    font-weight: bold;
}

.footer-left {
    margin-left: -5px;
}

.footer-left p {
    padding-left: 24px;
    padding-right: 10px;
}

.footer-nav {
    text-align: right;
    padding-right: 30px;
    padding-top: 100px;
}

.footer-text p {
    padding-right: 80px;
}

.upload {
    margin-top: 80px
    display: inline-block;
}
